@font-face {
    font-family: 'sofiapro';
    src: local('sofiapro'), url(../font/sofiapro.otf) format('opentype')
}
body {
    color: #222A41;
    font-family: sofiapro;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.color-blue {
    color:#0091ff;
}
.color-green {
    color: #0DCDE1;
}
.color-purple {
    color: #7479EE;
}
.color-pink {
    color: #ff55fe;
}
.color-gray {
    color: #767B83;
}
.color-white {
    color: white;
}
.color-red {
    color: rgb(255, 0, 24);
}
.font-size-8 {
    font-size: 0.8rem;
}
.font-size-9 {
    font-size: 0.9rem;
}
.font-size-10 {
    font-size: 1rem;
}
.font-size-11 {
    font-size: 1.1rem;
}
.font-size-12 {
    font-size: 1.2rem;
}
.font-size-13 {
    font-size: 1.3rem;
}
.font-size-14 {
    font-size: 1.4rem;
}
.font-size-19 {
    font-size: 1.9rem;
}
.font-size-20 {
    font-size: 2rem;
}
.responsive-font-size-11 {
    font-size: 1.1rem;
}
@media (max-width: 575px) {
    .responsive-font-size-11 {
        font-size: 0.8rem;
    }
}
.parent-header-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #eeeeee4f;
}
.default-border {
    border: 1px solid #eeeeee;
    border-radius: 6px;
}
.join-header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sofiapro;
    background-image: url('../image/Join_header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}
.join-now-button {
    color: #ffffff;
    text-decoration: underline;
}
.join-now-button:hover {
    color: #ffffff;
}
.modal-body-padding {
    padding: 0rem 2.5rem 2.5rem;
}
.modal-login-btn {
    font-family: sofiapro;
    color: #0091FF;
    font-size: 1.3rem;
    float: left;
    cursor: pointer;
}

.modal-signin-btn {
    font-family: sofiapro;
    color: #0091FF;
    font-size: 1.3rem;
    float: left;
    margin-left: 2.5rem;
    cursor: pointer;
}
.modal-company-btn {
    font-family: sofiapro;
    color: #0091FF;
    font-size: 1.3rem;
    float: left;
    cursor: pointer;
    margin-bottom: 2rem
}
.custom-form-control {
    border: 1px solid #DEE6E9 !important;
    border-radius: 6px !important;
    padding-left: 1rem;
    height: 40px !important;
    font-size: 1rem !important
}
.custom-form-control:focus {
    box-shadow: none !important;
}
.company-contact-form-text-area {
    border: 1px solid #DEE6E9 !important;
    border-radius: 6px !important;
    padding-left: 1rem;
    font-size: 1rem !important
}
.company-contact-form-text-area:focus {
    box-shadow: none !important;
}
.blue-btn {
    width: 100%;
    height: 50px;
    background: #0091FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 15px #0091FF26 !important;
    border-radius: 6px;
    opacity: 1;
    font-family: 'sofiapro';
    
}
.red-btn {
    width: 100%;
    height: 50px;
    background: #f01212 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 15px #0091FF26 !important;
    border-radius: 6px;
    opacity: 1;
    font-family: 'sofiapro';
    
}
.bootstrap-blue-btn {
    width: 100%;
    height: 40px;
    background: #0091FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 15px #0091FF26 !important;
    border-radius: 6px;
    font-family: 'sofiapro';
    font-size: 1.1rem;
}
.bootstrap-green-btn {
    width: 100%;
    height: 40px;
    background: #06CBC7 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 15px #0091FF26 !important;
    color: white;
    border-color: #06CBC7;
    border-radius: 6px;
    font-family: 'sofiapro';
    font-size: 1.1rem;
}
.bootstrap-green-btn:hover {
    color: white;
}
@media (max-width: 450px){
    .promotion-list-item-btn {
        width: 165px !important;
        /* font-size: 0.8rem !important; */
    }
}
.ant-blue-btn {
    width: 100%;
    background-color:#0091ff !important;
    border-radius:6px !important;
    font-size:1rem;
    height:40px;
    font-family: 'sofiapro' !important;
    box-shadow: 0px 6px 15px #0091FF26;
}
.ant-red-btn {
    width: 100%;
    background-color:#f01212 !important;
    border-radius:6px !important;
    font-size:1rem;
    height:40px !important;
    font-family: 'sofiapro' !important;
    box-shadow: 0px 6px 15px #0091FF26;
}
.ant-disabled-btn {
    width: 100%;
    background-color: gray !important;
    border-radius:6px !important;
    font-size:1rem;
    height:40px;
    font-family: 'sofiapro' !important;
    box-shadow: none;
    border: none;
    cursor: not-allowed !important;
}
.ant-disabled-btn:hover {
    background-color: gray;
}
.white-btn {
    height: 40px !important;
    color: #0091ff !important;
    border: 1px solid #0091ff !important;
    border-radius: 6px !important;
    font-size: 1rem !important;
    font-family: 'sofiapro' !important;
}

.no-border-btn {
    color: #767B83 !important;
    font-size: 1rem !important;
    font-family: 'sofiapro' !important;
}

.ant-switch {
    min-width: 10px !important;
    width: 38px;
}
.agree-container {
    color: #454540;
    font-size: 0.8rem;
    float: right;
}
.policy-button {
    padding-left: 3px;
    cursor: pointer;
    text-decoration: underline;
}
.company-question-button-container {
    text-align: center;
    margin-top: 2rem;
}
.company-question-button {
    font-size: 0.9rem;
    color: #454540;
    cursor: pointer;
    text-decoration: underline;
}
h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #EBF0F2;
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
    
}
.or-divider-container {
    margin-top: 2rem;
}
.or-divider-text {
    font-size: 0.9rem;
    color: #8DA6B2;
}
.google-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #CE4F46 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.google-icon-container1 img {
    width: 0.9rem;
}
.google-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #F2554A 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px;
}
.fb-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #2A3E6A 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
.fb-icon-container1 img {
    width: 1.2rem;
}
.fb-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #3B5999 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px;
}
.twitter-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #E2F0FC 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.twitter-icon-container1 img {
    width: 1.2rem;
}
.twitter-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #0091ff 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px;
}
.twitch-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #6422FF 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.other-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #22B9A7 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.twitch-icon-container1 img {
    width: 1.2rem;
}
.twitch-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #4103A2 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px;
}
.youtube-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #FFDDDD 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.youtube-icon-container1 img {
    width: 3rem;
}
.youtube-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #F01212 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px;
}
.instagram-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #481E64 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.instagram-icon-container1 img {
    width: 1rem;
}
.instagram-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #7E3AAC 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px;
}
.steam-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #8cbfff 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.steam-icon-container1 img {
    width: 1.2rem;
}
.steam-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #0a458f 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px; 
}
.snapchat-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #f29e54 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
}
.snapchat-icon-container1 img {
    width: 1rem;
}
.snapchat-icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    background: #ff7701 0% 0% no-repeat padding-box;
    border-radius: 0px 6px 6px 0px;
}
.selected-flag {
    height: 100% !important;
}
.header-container {
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    height: 80px;
    background-color: #fffffff0;
}
.header-right-part {
    float: right;
}
.side-bar-menu {
    font-size: 2rem;
    position: fixed;
    right: 10px;
}
.logout-icon {
    width: 20px !important;
    margin-top: -5px;
}
.banner {
    width: 100%;
    height: 25vw;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sofiapro;
    background-image: url('../image/Banner.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-text {
    font-size: 35px;
}
@media(max-width: 500px) {
    .banner-text {
        font-size: 25px;
    }
}
.banner-text-blue {
    color: #0091ff;
}
.banner-text-green {
    color: #06CBC7;
    text-shadow: 0px 1px, 1px 1px, 1px 0px;
    letter-spacing: 2px;
}
.banner-text-purple {
    color: #936EEA;
    text-shadow: 0px 1px, 1px 1px, 1px 0px;
    letter-spacing: 2px;
}
.banner-search {
    height: 55px;
    margin-top: 30px;
    display: flex;
}
.banner-search-input {
    height: 100%;
    width: 440px;
    padding-left: 1.75rem;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 3px 10px #181b1d1a;
}
.banner-search-input:focus {
    box-shadow: 0px 3px 10px #181b1d1a !important;
}
.banner-search-btn {
    height: 55px;
    width: 55px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 3px 10px #0091FF29;
    background-color: #7778ED;
    cursor: pointer;
}
@media(max-width: 450px) {
    .banner-search-input {
        width: 260px;
    }
    .banner-search {
        height: 45px;
    }
    .banner-search-btn {
        width: 45px;
        height: 45px;
    }
}
.banner-search-icon {
    color: white;
    font-size: 1.2rem;
}
.hot-new-text {
    color:#0091ff;
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
}
.premium-prize-text {
    font-size: 20px;
    color: #767B83;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.campaign-card {
    height: 100%;
    border-radius: 8px;
}
.campaign-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid rgba(126, 154, 168, 0.28);
    padding: 20px;
    text-align: center;
    
}
.campaign-card-img {
    display: flex;
    justify-content: center;
}
.campaign-card-img .campaign-img {
    width: 85px;
    height: 85px;
    border-radius: 6px;
}
.campaign-card-img .company-logo-container {
    position: absolute;
    top: 100px;
    left: calc(50% - 70px);
    width: 50px;
    height: 50px;
    background: white;
    padding: 6px;
    border-radius: 50%;
}
.campaign-card-img .company-logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 5px 20px #bec2c5d9;
}
.campaign-card-title {
    font-size: 22px;
    color: #0091ff;
    text-align: center;
    font-weight: bold;
}
.campaign-card-text {
    text-align: center;
    font-size: 0.9rem;
    max-height: 70px;
    overflow-y: auto;
    color: #767B83;
}
.campaign-card-star {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    right: 15px;
    top: 10px;
}
.find-deal-text {
    color:#7778ED;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}
.menubar-container {
    /* background: #e9f7ff78 0% 0% no-repeat padding-box;
    border-top: 1.5px solid #0091ff6b;
    border-bottom: 1.5px solid #0091ff6b; */
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.menubar {
    color: #767B83;
    font-size: 1.1rem;
    border-bottom: 0px;
    line-height: 4.5rem;
    font-weight: bold;
    background: none;
}
.promotion-list-item-container {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eeeeee;

}
.promotion-list-item-img {
    display: flex;
    align-items: center;
}
.promotion-list-item-img img {
    width: 85px;
    height: 85px;
    border-radius: 6px;
}
.promotion-list-item-title {
    font-size: 22px;
    color: #0091ff;
    font-weight: bold;
}
.promotion-list-item-text {
    font-size: 1.1rem;
    margin-top: 20px;
    overflow-wrap: break-word;
    color: #767B83;
}
@media (max-width: 575px) {
    .promotion-list-item-img img{
        width: 65px;
        height: 65px;
    }
    .promotion-list-item-title {
        font-size: 18px;
    }
    .promotion-list-item-text {
        font-size: 1rem;
    }
}
.promotion-list-item-btn {
    width: 200px;   
}
.promotion-list-item-star {
    height: 35px;
    width: 42px;
    float: right;
    background: #7778ED;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.promotion-list-more-btn {
    width: 200px;
    margin: 40px auto;
}
.footer-link-container {
    background: #f4f4f4;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-link-bold {
    font-size: 0.9rem;
    font-weight: bold;
    color: #222A41;
}
.footer-link {
    font-size: 0.9rem;
    color: #222A41;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.pointer {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}
.ant-date-picker {
    width: 100%;
    height: 40px;
    border-radius: 6px;
}
.ant-date-picker input {
    height: 40px;
    padding-left: .5rem;
}
.half-width {
    width: 50%;
}
.full-width {
    width: 100%;
}
@media (max-width: 1200px) {
    .half-width {
        width: 100%;
    }
}

.flag-select img {
    position: initial;
}
.flag-select {
    padding: 0px !important;
}
.selected--flag--option {
    padding: 0px !important;
}
.upload-image-container {

    border-radius: 10px;
}
.chooseFileButton {
    background: #0091ff !important;
}
.chooseFileButton:hover {
    background: #0091ff !important;
}
.blue-link-btn {
    padding: 0px;
    font-size: 1.1rem;
    color: #0091ff !important;
    text-decoration: underline;
    cursor: pointer;
}
.green-dot {
    height: 14px;
    width: 14px;
    background-color: #03D54B;
    box-shadow: 0px 3px 6px #03D54B29;
    border-radius: 50%;
    display: inline-block;
}
.red-dot {
    height: 14px;
    width: 14px;
    background-color: #D50303;
    box-shadow: 0px 3px 6px #03D54B29;
    border-radius: 50%;
    display: inline-block;
}
.loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
}
.inline-div-active 
{
    display: inline-flex;
    height: 50px;
    align-items: center;
    padding: 0px 15px;
    border: 1px solid;
    border-radius: 6px;
    color: #0091ff;
}
.inline-div-inactive {
    display: inline-flex;
    height: 50px;
    align-items: center;
    padding: 0px 15px;
    border: 1px solid;
    border-radius: 6px;
    color: #D0D0CF;
}
.inline-sort-div-active 
{
    display: inline-flex;
    width: calc(100% - 50px);
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border: 1px solid;
    border-radius: 6px;
    color: #0091ff;
    font-size: 0.9rem;
}
.inline-sort-div-inactive {
    display: inline-flex;
    width: calc(100% - 50px);
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border: 1px solid;
    border-radius: 6px;
    color: #D0D0CF;
    font-size: 0.9rem;
}
@media (max-width: 500px) {
    .inline-div-inactive {
        padding: 0px 5px;
    }
    .inline-div-active {
        padding: 0px 5px;
    }
}

.ant-checkbox-inner {
    border-color: #d9d9d9 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #0091ff;
    border-color: #0091ff;
    box-shadow: none;
}
.btn-secondary {
    background-color: #0091ff;
    border-color: #0091ff;
    box-shadow: none !important;
}
.btn-secondary:hover{
    background-color: #0091ff;
    border-color: #0091ff;
}
.view-profile-link {
    color: #454540;
    opacity: 50%;
    text-decoration: underline;
    cursor: pointer;
}
.congratulation-modal {
    max-width: 80%;
    margin: auto;
    top: 50px;
    
}
.congratulation-modal .modal-content {
    background-image: url('../image/congratulation.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.congratulation-header {
    font-size: 40px;
    color: #0091ff;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.congratulation-number {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.congratulation-item {
    background: white;
    box-shadow: 0px 8px 10px #F3F6F9CC;
    border: 1px solid #e6ebee47;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    width: 90%;
    margin: auto;
}
.collapse-panel-body {
    background: #EFF9FF !important;
    box-shadow: none !important;
    width: calc(100% - 100px);
}
.collapse-panel-summary {
    height: 70px;
}
@media (max-width: 500px) {
    .collapse-panel-summary {
        height: auto;
    }
}
.MuiIconButton-label {
    color: #0091ff !important;
}
.MuiExpansionPanelDetails-root {
    padding: 8px 45px 25px 55px !important;
    display: block !important;
}
.MuiExpansionPanelSummary-root {
    padding: 0px 45px 0px 55px !important;
}
@media (max-width: 500px) {
    .MuiExpansionPanelDetails-root {
        padding: 8px 25px 25px 35px !important;
        display: block !important;
    }
    .MuiExpansionPanelSummary-root {
        padding: 0px 25px 0px 35px !important;
    }
}
.collapse-twitter-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2F0FC;
}
.collapse-twitter-icon img {
    width: 20px;
}
.collapse-fb-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A3E6A;
    color: white;
    font-weight: bolder;
    font-size: 1.4rem;
}
.collapse-youtube-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFDDDD;
}
.collapse-instagram-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #481e64;
}
.collapse-twitch-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6422ff;
}
.collapse-other-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22B9A7;
    color: white;
    font-weight: bolder;
    font-size: 1.4rem;
}
.collapse-video-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f58d9ae8;
    color: white;
    font-weight: bolder;
    font-size: 1.4rem;
}
.collapse-website-icon {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    position: absolute;
    top: 16px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    color: white;
    font-weight: bolder;
    font-size: 1.4rem;
}
.dotted-left-border {
    background-image: linear-gradient(#8ACDFF 33%, #ffffff00 3%);
    background-position: left;
    background-size: 3px 21px;
    background-repeat: repeat-y;
}
.top-half-circle {
    width: 50px;
    height: 25px;
    background-color: white;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 3px solid #8ACDFF;
    border-bottom: 0;
    position: absolute;
    bottom: -3px;
    left: -25px;
}
.bottom-half-circle {
    width: 50px;
    height: 25px;
    background-color: white;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 3px solid #8ACDFF;
    border-top: 0;
    position: absolute;
    top: -3px;
    left: -25px;
}
.remove-winning-icon {
    font-size: 1.5rem;
    cursor: pointer;
}
.remove-answer-icon {
    color: #222A41;
    margin-top: 35px;
    font-size: 1.5rem;
    cursor: pointer;
}
.empty-result {
    display: flex;
    justify-content: center;
}
.menu-item-mr {
    margin-right: 3rem;
}
@media (max-width: 800px) {
    .menu-item-mr {
        margin-right: 0px;
    }
}
.menu-bar-settings-icon {
    float: right;
}
@media (max-width: 700px) {
    .menu-bar-settings-icon {
        float: none;
    }
}
.categry-container {
    background: white;
    width: 230px;
    position: absolute;
    right: 10vw;
    z-index: 10;
    border: 1px solid #F3F4F7;
    border-radius: 6px;
}
.category-item {
    color: #7E9AA8;
    padding: 13px 28px;
    border-bottom: 1px solid #7e9aa81f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
.category-item label {
    margin-bottom: 0px;
}
.campaign-main-panel {
    font-size: 22px;
    font-weight: bold;
    height: 25vw;
    margin-left: 15px;
    margin-right: 15px; 
    padding: 0px; 
    border: 3px solid #8ACDFF; 
    background: #8acdff08;
}
.campaign-main-panel .left div {
    height: calc(25vw - 6px);
}
@media (max-width: 1400px) {
    .campaign-main-panel {
        font-size: 18px;
        height: 33vw;
    }
    .campaign-main-panel .left div {
        height: calc(33vw - 6px);
    }
}
.campaign-main-panel .right .div-item {
    padding: 15px 0px;
    border-bottom: 1px solid #00000014;
    margin-left: 15%;
    margin-right: 15%;
}

.campaign-main-panel .col {
    height: 100%;
}
.campaign-main-panel .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.campaign-main-panel-mobile {
    display: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px; 
    padding: 0px; 
    border: 1px solid #8ACDFF; 
    background: #8acdff08;
}
.campaign-main-panel-mobile-footer {
    display: none;
    font-size: 16px;
    font-weight: bold;
}
@media (max-width: 1100px) {
    .campaign-main-panel-mobile {
        display: flex;
    }
    .campaign-main-panel-mobile-footer {
        display: flex;
    }
    .campaign-main-panel {
        display: none;
    }
}
.participate-btn-size {
    width: 170px;
    height: 38px;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.ant-pagination-item-link .anticon {
    vertical-align: 0.08rem;
}
.reset-password-form {
    width: 350px;
    margin: auto;
    margin-top: 100px;
}
.ant-notification {
    z-index: 100000 !important;
    right: calc(50% - 192px) !important;
    margin-right: 0px !important;

}
.phone-verified-icon {
    color: #0091ff;
    font-size: 1.5rem;
}
.analytics-menu {
    color: #1890ff;

}
.analytics-menuitem {
    font-weight:  normal;
    border-bottom: none !important;
}
.underline {
    text-decoration: underline;
}
.followers-container {
    display: flex;
    justify-content: space-between;
}
.follower-div {
    width: 27%;
    border: 1px solid rgba(126, 154, 168, 0.15);
    border-radius: 6px;
    padding: 20px;
}
@media (max-width: 1200px) {
    .follower-div {
        width: 32%;
    }
}
@media (max-width: 800px) {
    .follower-div {
        width: 100%;
        margin-top: 20px;
    }
    .followers-container {
        display: block;
    }
}
.audience-bottom-div {
    width: 45%;
}
@media (max-width: 800px) {
    .audience-bottom-div {
        margin-top: 20px;
        width: 100%;
    }
}
.ant-progress-inner {
    background: #0091ff1c !important;
}
.multi-categories-selector .ant-select-selection__rendered {
    line-height: 50px !important;
}
.multi-categories-selector .ant-select-selection__rendered > ul > li {
    margin-top: 10px !important;
}
.multi-categories-selector .ant-select-selection--single {
    height: 50px !important;
}
.ant-select {
    width: 100%;
}
.social-btn {
    display: inline-flex;
    height: 35px;
    align-items: center;
    padding: 0px 15px;
    border: 1px solid;
    border-radius: 6px;
    color: white;
    background: #0091ff;
    cursor: pointer;
}

@media (max-width: 575px) {
    .social-btn {
        font-size: 0.8rem;
    }
}
.cropContainer {
    height: 300px;
}
.company-page-header {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.social-wall-container {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cccccc;
}
.company-wall-img {
    display: flex;
}
.company-wall-img img {
    width: 85px;
    height: 85px;
    border-radius: 6px;
}
@media (max-width: 575px) {
    .company-wall-img img{
        width: 65px;
        height: 65px;
    }
}
/* ::-webkit-scrollbar { 
    display: none; 
} */
/* .ant-tooltip-inner {
    color: white;
    background-color: #0091ff;
}
.ant-tooltip-placement-top .ant-tooltip-arrow, .ant-tooltip-placement-topLeft .ant-tooltip-arrow, .ant-tooltip-placement-topRight .ant-tooltip-arrow {
    border-bottom-color: #0091ff !important;
} */
.facebook-action-btn {
    width: 140px;
    height: 40px;
    padding: 10px 20px;
    background-color: #4264A3;
    border-radius: 6px;
    cursor: pointer;
}
.twitter-action-btn {
    width: 118px;
    height: 40px;
    padding: 10px 20px;
    background-color: #1EA1F1;
    border-radius: 6px;
    cursor: pointer;
}
.youtube-action-btn {
    width: 130px;
    height: 40px;
    padding: 10px 20px;
    background-color: #FF0200;
    border-radius: 6px;
    cursor: not-allowed;
}
.instagram-action-btn {
    width: 143px;
    height: 40px;
    padding: 10px 20px;
    background-color: #1E3F6C;
    border-radius: 6px;
    cursor: pointer;
}
.twitch-action-btn {
    width: 113px;
    height: 40px;
    padding: 10px 20px;
    background-color: #9147FF;
    border-radius: 6px;
    cursor: pointer;
}
.blog-action-btn {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    background-color: #FCD20C;
    border-radius: 6px;
    cursor: not-allowed;
}
.podcast-action-btn {
    width: 230px;
    height: 40px;
    padding: 10px 20px;
    background-color: #B3C5C6;
    border-radius: 6px;
    cursor: not-allowed;
}
.tumblr-action-btn {
    width: 120px;
    height: 40px;
    padding: 10px 20px;
    background-color: #35465C;
    border-radius: 6px;
    cursor: not-allowed;
}
.typeform-action-btn {
    width: 140px;
    height: 40px;
    padding: 10px 20px;
    background-color: #95A5A6;
    border-radius: 6px;
    cursor: not-allowed;
}
.vimeo-action-btn {
    width: 113px;
    height: 40px;
    padding: 10px 20px;
    background-color: #0074D5;
    border-radius: 6px;
    cursor: not-allowed;
}
.spotify-action-btn {
    width: 117px;
    height: 40px;
    padding: 10px 20px;
    background-color: #2DBD59;
    border-radius: 6px;
    cursor: not-allowed;
}
.poll-action-btn {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    background-color: #22B9A7;
    border-radius: 6px;
    cursor: pointer;
}
.steam-action-btn {
    width: 115px;
    height: 40px;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 6px;
    cursor: not-allowed;
}
.website-action-btn {
    width: 152px;
    height: 40px;
    padding: 10px 20px;
    background-color: #95A5A6;
    border-radius: 6px;
    cursor: pointer;
}
.soundcloud-action-btn {
    width: 170px;
    height: 40px;
    padding: 10px 20px;
    background-color: #FF7701;
    border-radius: 6px;
    cursor: not-allowed;
}
.action-list-container {
    background: white;
    width: 200px;
    box-shadow: 0px 5px 10px #0000001A;
    border: 1px solid #0091FF;
    border-radius: 6px;
}
.action-list-item {
    color: #7E9AA8;
    padding: 13px 20px;
    border-bottom: 1px solid #7e9aa81f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}
.action-list-item label {
    margin-bottom: 0px;
}
/* .ant-select-lg .ant-select-selection--single {
    height: 45px !important;
}
.ant-select-lg .ant-select-selection__rendered {
    line-height: 43px !important;
} */
.min-height-container {
    min-height: 50vh;
}
.ant-message-custom-content {
    display: flex;
    align-items: center;
}
.ant-message {
    z-index: 1000000;
}
@media (max-width: 575px) {
    .mycampaign-searchbox {
        width: 160px;
    }
}
.mycircle-searchbox {
    width: 300px;
}
.leaflet-container {
    height: 500px;
    width: 100%;
}
@media (max-width: 575px) {
    .leaflet-container {
        height: 300px;
        width: 100%;
    }
}
.ant-btn-loading-icon {
    display: inline-flex !important;
}
.ant-select-multiple .ant-select-selection-item-remove > .anticon {
    vertical-align: 0.2em !important;
}
.ant-select-selector {
    border-radius: 6px !important;
}
.instagram-wall-img {
    max-width: 100%;
    max-height: 500px;
}
.big-checkbox .ant-checkbox-inner {
    width: 25px;
    height: 25px;
}
.big-checkbox .ant-checkbox-inner::after {
    left: 33%;
}
.ant-menu-horizontal > .ant-menu-item a {
    color: #767B83;
}
.ant-menu-horizontal > .ant-menu-item-selected a {
    color: #1890ff;
}
.campaign-detail-entries-container {
    width: 70px;
    height: 70px;
    background: #EFFCF6 0% 0% no-repeat padding-box;
    border: 1px solid #4FDD9E;
    border-radius: 6px;
    font-size: 18px;
    color: #4FDD9E;
}
@media (max-width: 575px) {
    .campaign-detail-entries-container {
        width: 40px;
        height: 40px;
    }
    .collapse-panel-body {
        width: calc(100% - 50px);
    }
}


